* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

:root {
  --sky-color: linear-gradient(180deg, skyblue, pink);
  --ground-color: linear-gradient(360deg, green, lightgreen);
}

.tp {
  grid-area: tp;
}
.lp {
  grid-area: lp;
}
.rp {
  grid-area: rp;
}
.bp {
  grid-area: bp;
}

.main {
  grid-area: main;
  overflow: hidden;
}

.art {
  display: grid;
  grid-template-columns: 1fr 1344px 1fr;
  grid-template-rows: 1fr 846px 1fr;
  grid-template-areas:
    "tp tp tp"
    "lp main rp"
    "bp bp bp";
    width: auto;
    height: 1000px;
}
.placeholder {
  background-color: gray;
}

.main .sky {
  background: var(--sky-color);
  width: 100%;
  height: 50%;
}

.main .mountain-container-ko-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main .ground {
  width: 100%;
  background: var(--ground-color);
  height: 50%;
}

.main .mountain {
  position: relative;
  background-image: linear-gradient(to right, #72c6ef 10%, #004e8f 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.main .mountain.first {
  width: 500px;
  height: 200px;
  top: 224px;
  left: -5%;
  z-index: 2;
}

.main .mountain.second {
  top: 29%;
  left: -25%;
  width: 600px;
  height: 300px;
  z-index: 1;
}

.main .mountain.third {
  top: 53%;
  left: -50%;
  width: 500px;
  height: 200px;
  z-index: 2;
}

.ice-cap {
  position: relative;
  width: 100px;
  height: 100px;
  background: white;
  z-index: 3;
}

.mountain.first .ice-cap {
  top: -25%;
  left: 40%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    80% 70%,
    60% 91%,
    50% 70%,
    20% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.mountain.second .ice-cap {
  top: -7%;
  width: 190px;
  left: 34%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    80% 70%,
    40% 91%,
    50% 70%,
    20% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.mountain.third .ice-cap {
  top: -20%;
  left: 40%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    80% 70%,
    60% 91%,
    50% 70%,
    20% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  transform: rotate(270deg);
}

.mountain .shadow {
  position: relative;
  background-color: rgba(0, 0, 0, 0.251);
  z-index: 3;
}

.mountain.first .shadow,
.mountain.third .shadow {
  top: -60%;
  left: -7%;
  width: 370px;
  height: 300px;
  clip-path: polygon(
    77% 0,
    77% 26%,
    100% 52%,
    79% 69%,
    100% 79%,
    0 81%,
    0% 70%,
    0 0
  );
}

.mountain.second .shadow {
  top: -60%;
  left: 9%;
  width: 370px;
  height: 400px;
  clip-path: polygon(
    34% 0,
    66% 20%,
    66% 52%,
    81% 79%,
    45% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

.cloud {
  position: relative;
  width: 400px;
  height: 150px;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  background: rgba(255, 255, 255, 0.791);
  clip-path: inset(0 0 32% 0);
  transform: scale(0.8);
  z-index: 0;
}

.cloud:nth-child(2) {
  top: -90%;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 58%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.cloud:nth-child(3) {
  top: -120%;
  left: 30%;
  mask: var(--g) 90% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.cloud:nth-child(4) {
  top: -140%;
  left: 70%;
  mask: var(--g) 100% 100%/50% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.cloud:nth-child(5) {
  top: -200%;
  left: 60%;
  width: 280px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.447);
  mask: var(--g) 80% 100%/50% 61%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.cloud:nth-child(6) {
  top: -190%;
  left: 50%;
  width: 280px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.386);
  mask: var(--g) 100% 100%/50% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.tree-container {
  position: relative;
  width: 90px;
  height: 90px;
  transform: scale(0.5);
  top: -10%;
  left: -1%;
  z-index: 3;
}

.tree-container:nth-of-type(1) {
  top: -10%;
  left: -1%;
}

.tree-container:nth-of-type(2) {
  top: -31%;
  left: 3%;
}

.tree-container:nth-of-type(3) {
  top: -52%;
  left: 8%;
}

.tree-container:nth-of-type(4) {
  top: -72%;
  left: 13%;
}

.tree-container:nth-of-type(5) {
  top: -95%;
  left: 20%;
}

.tree-container:nth-of-type(6) {
  top: -31%;
  left: 2%;
}

.tree-container:nth-of-type(7) {
  top: -31%;
  left: 2%;
}

.tree-container:nth-of-type(8) {
  top: -31%;
  left: 2%;
}

.tree-container:nth-of-type(9) {
  top: -31%;
  left: 2%;
}

.trunk {
  position: absolute;
  width: 20px;
  height: 60px;
  background: #66503e;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tree-triangle {
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: 50%;
  transform: translateX(-50%);
}

.tree-triangle.first {
  width: 80px;
  height: 60px;
  background: #038052;
  bottom: 130%;
  z-index: 3;
}

.tree-triangle.second {
  width: 110px;
  height: 80px;
  background: #046944;
  bottom: 90%;
  z-index: 2;
}

.tree-triangle.third {
  width: 140px;
  height: 100px;
  background: #034f33;
  bottom: 50%;
  z-index: 1;
}
